<%= stylesheet_link_tag "registrations_new", "data-turbo-track": "reload" %>

<div class="body">
  <div class="login-head">
    <h2 class="login-title">新規登録</h2>
    <p class="login-text">Ami-Laboへようこそ！</p>
  </div>
  <div class="resistrations-new">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <p><%= f.label :name, "ユーザー名", :class => "label" %></p>
        <p><%= f.text_field :name, placeholder: "お好きな名前を入力", :class => "text-field" %></p>
      </div>

      <div class="field">
        <p><%= f.label :emai, "メールアドレス", :class => "label" %></p>
        <p><%= f.email_field :email, placeholder: "メールアドレスを入力", autofocus: true, autocomplete: "email", :class => "text-field" %></p>
      </div>

      <div class="field">
        <p><%= f.label :password, "パスワード", :class => "label" %></p>
        <% if @minimum_password_length %>
          <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
        <% end %>
        <p><%= f.password_field :password, placeholder: "6文字以上の英数字", autocomplete: "new-password", :class => "text-field" %></p>
      </div>

      <div class="field">
        <p><%= f.label :password_confirmation, "パスワード（確認用）", :class => "label" %></p>
        <p><%= f.password_field :password_confirmation, placeholder: "もう一度入力してください", autocomplete: "new-password", :class => "text-field" %></p>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", :class => "to-create" %>
      </div>

      <div class="login-container">
        <ul class="buttons">
          <li class="btn">すでにアカウントをお持ちの方</li>
          <li class="btn"><%= link_to "ログインはこちら", new_user_session_path, :class => "to-session" %></li>
        </ul>
      </div>
    <% end %>

  </div>
</div>

<%= render "shared/footer" %>
