<%= stylesheet_link_tag "patterns_index", "data-turbo-track": "reload" %>

<body>
    <div class="patterns-index">
        <h3 class="title">パターン一覧</h3>

        <div class="pattern-container">
            <ul class="pattern-list">
                <% @patterns.each do |pattern| %>
                    <li class="pattern">
                        <%= image_tag pattern.image, class: "pattern-image" if pattern.image.attached? %>
                        <div class="pattern-details">
                            <p class="pattern-title"><%= pattern.title %></p>
                            <p class="pattern-category"><%= pattern.category %></p>
                            <p class="pattern-instruction"><%= pattern.introduction %></p>
                            <%= link_to "詳細はこちら", patterns_index_path, :class =>"to-detail" %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</body>

<h1></h1>
<p></p>
<div></div>
